@model List<HTQuanLyHoSoSucKhoe.ViewModels.ThongTinBacSiViewModel>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Quản lý bác sĩ
        </h1>
        <ol class="breadcrumb">
            <li><a asp-action="Index" asp-controller="QuanLyBenhVien">Trang chủ</a></li>
            <li class="active">Thông tin bác sĩ</li>
        </ol>
    </div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <!-- Advanced Tables -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Bảng thông tin bác sĩ:
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Tạo hồ sơ bác sĩ
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Tạo thông tin hồ sơ</h4>
                                    </div>
                                    <form asp-action="createBacSi" asp-controller="QuanLyBacSi" method="post">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="hoTen">Tên bác sĩ:</label>
                                                <input type="text" id="hoTen" name="hoTen" class="form-control" required />
                                            </div>
                                            <div class="form-group">
                                                <label for="ngaySinh">Ngày sinh:</label>
                                                <input type="date" id="ngaySinh" name="ngaySinh" class="form-control" required />
                                            </div>
                                            <div class="form-group">
                                                <label for="gioiTinh">Giới tính:</label>
                                                <input type="text" id="gioiTinh" name="gioiTinh" class="form-control" required />
                                            </div>
                                            <div class="form-group">
                                                <label for="soDienThoai">Số điện thoại:</label>
                                                <input type="text" id="soDienThoai" name="soDienThoai" class="form-control" required />
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email:</label>
                                                <input type="email" id="email" name="email" class="form-control" required />
                                            </div>
                                            <div class="form-group">
                                                <label for="diaChi">Địa chỉ:</label>
                                                <input type="text" id="diaChi" name="diaChi" class="form-control" required />
                                            </div>
                                            <div class="form-group">
                                                <label for="ChuyenKhoaId">Chuyên khoa:</label>
                                                <select id="ChuyenKhoaId" name="ChuyenKhoaId" class="form-control wide" required>
                                                    <option value="" disabled selected>Chọn chuyên khoa</option>
                                                    @foreach (var chuyenKhoa in ViewBag.ChuyenKhoaList)
                                                        {
                                                        <option value="@chuyenKhoa.chuyenKhoaId">@chuyenKhoa.tenChuyenKhoa</option>
                                                    }
                                                </select>
                                            </div>                                
                                            <div class="form-group">
                                                <label for="ImageFile">Hình ảnh (nếu có):</label>
                                                <input type="file" id="ImageFile" name="ImageFile" class="form-control" accept="image/*" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Tắt</button>
                                            <button type="submit" class="btn btn-primary">Lưu hồ sơ</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <!-- Hiển thị thông báo thành công hoặc lỗi từ TempData -->
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success">
                                @TempData["SuccessMessage"]
                            </div>
                        }
                        else if (TempData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger">
                                @TempData["ErrorMessage"]
                            </div>
                        }
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên</th>
                                        <th>Tên chuyên khoa</th>
                                        <th>Tên bệnh viện</th>
                                        <th>Ngày tạo hồ sơ</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int index = 1;
                                    }
                                    @foreach (var item in Model ?? new List<HTQuanLyHoSoSucKhoe.ViewModels.ThongTinBacSiViewModel>())
                                    {
                                        <tr class="odd gradeX">
                                            <td>@index</td>
                                            <td>@(item?.hoTen ?? "Không có dữ liệu")</td>
                                            <td>@(item?.tenChuyenKhoa ?? "Không có dữ liệu")</td>
                                            <td>@(item?.tenBenhVien ?? "Không có dữ liệu")</td>
                                            <td>@(item?.ngayTaoBacSi.ToString("dd/MM/yyyy") ?? "Không có dữ liệu")</td>
                                            <td><a asp-action="ChiTietThongTinBacSi" asp-controller="QuanLyBacSi" asp-route-id="@item.bacSiId"  class="btn btn-info btn-sm">Xem chi tiết</a>
                                            <form asp-action="XoaThongTin" asp-controller="QuanLyBacSi" method="post">
                                                        <input type="hidden" name="bacSiId" value="@item.bacSiId" />
                                                        <button type="submit" class="btn btn-danger">Xóa</button>
                                                        </form>    
                                            </td>
                                             
                                        </tr>
                                        index++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="~/assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function() {
            $('#dataTables-example').dataTable();
        });
    </script>
}
